login-page{
    #orId{
        margin-left: 50px
        }
        #loginfrom_number_id{
            background-color: lightblue;
            margin-top: 0px;
            height: 289px;
        }
       #social_accnt_id{
           background-color:white ;
           margin-top: -30px;
       }
       #social_accnt_text-Id{
           text-align: center
       }
       #text_id{
           text-align: center
       }
       #social_accnt_text_or_Id{
           
        text-align: center
       }
       #card-content-id{
           margin-top: -20px;
       }
       .butoon-contents{
           text-align: center
       }
       .login-content{

       }
       .acount_class{
           margin-top: -25px
       }
    }

