<!--
  Generated template for the CourseContentPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CourseContentPage</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1>MVC Architecture</h1>
<div class ="videowrapper">
  <iframe [src]="updateVideoUrl(video_id)" frameborder="0" allowfullscreen="" width="320" height="480"></iframe>
</div>
<button ion-button block (click)="watchVideo(video_id)" >Preview the Cources</button>
<h1>Price- &nbsp;20$</h1>
<ion-item-divider color="light">    
  <div class="class_content_box_1">Description</div>

</ion-item-divider>

  
<div class="class_content_box_1">

  <p>
    Model–view–controller (MVC) is a software 
    architectural pattern
     for implementing user interfaces on computers. It divides a given 
     application into three interconnected parts. This is done to separate 
     internal representations of information from the ways information is
      presented to, and accepted from, the user.
    The MVC design pattern decouples these major components allowing for 
    efficient code reuse and parallel development.
  </p>
  </div>

<ion-item-divider color="light">    
    <div class="class_content_box_1">What You will learn</div>
  
</ion-item-divider>
<div >
<ion-item>
       <!-- Play icon -->
       <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
       
       <div class="class_content_box_1">Basics of GIT and how to become STAR</div> 

       <!-- check mark circle  icon --> 
       
      </ion-item>
      <ion-item>
          <!-- Play icon -->
          <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
          
          <div class="class_content_box_1">Basics of Database</div> 
   
          <!-- check mark circle  icon --> 
          
         </ion-item>
         <ion-item>
            <!-- Play icon -->
            <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
            
            <div class="class_content_box_1">Conclusion</div> 
     
            <!-- check mark circle  icon --> 
            
           </ion-item>
      </div>
      <ion-item-divider color="light">    
          <h2>Testimonials</h2>
          <h4>A few words from our past students</h4> 
        
      </ion-item-divider>
      <div >
      <ion-item>
             <!-- Play icon -->
             <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle"></ion-icon>
             
             <div class="class_content_box_1">Testimonials</div>
             
      
             <!-- check mark circle  icon --> 
             
            </ion-item>
          
            </div>

            <ion-item-divider color="light">    
                <h2>Course</h2>
                
              
            </ion-item-divider>
           
            <ion-item>
                   <!-- Play icon -->
                   <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle">
                      <div class="class_content_box_1"> 
                  
                    </div>

                   </ion-icon>
                   <div class="class_content_box_1">4hrs</div>
                   
                   <div item-end class="class_content_box_1">21/10/2017</div>
                   
            
                   <!-- check mark circle  icon --> 
                   
                  </ion-item>
                  <ion-item>
                      <!-- Play icon -->
                      <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle">
                         <div class="class_content_box_1"> 
                     
                       </div>
   
                      </ion-icon>
                      <div class="class_content_box_1">Instructor</div>
                      
                      <div item-end class="class_content_box_1">Adm Ghosh</div>
                      
               
                      <!-- check mark circle  icon --> 
                      
                     </ion-item>
                     <ion-item>
                        <!-- Play icon -->
                        <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle">
                           <div class="class_content_box_1"> 
                       
                         </div>
     
                        </ion-icon>
                        <div class="class_content_box_1">Max Students-</div>
                        
                        <div item-end class="class_content_box_1">50</div>
                        
                 
                        <!-- check mark circle  icon --> 
                        
                       </ion-item>
                       <ion-item>
                          <!-- Play icon -->
                          <ion-icon item-start ios="ios-checkmark-circle" md="md-checkmark-circle">
                             <div class="class_content_box_1"> 
                         
                           </div>
       
                          </ion-icon>
                          <div class="class_content_box_1">Attended Students</div>
                          
                          <div item-end class="class_content_box_1">-30</div>
                          
                   
                          <!-- check mark circle  icon --> 
                          
                         </ion-item>
                         
           <ion-item>
                <!-- Play icon -->
                <ion-icon item-start name="logo-facebook">
                   <div class="class_content_box_1"> 
               
                 </div>

                </ion-icon>
                <div class="class_content_box_1">Share this course on Facebook</div>
                
               </ion-item>
               <ion-item>
                  <!-- Play icon -->
                  <ion-icon item-start name="logo-twitter">
                     <div class="class_content_box_1"> 
                 
                   </div>
  
                  </ion-icon>
                  <div class="class_content_box_1">Tweet this course</div>
                  
                 </ion-item>

                 <ion-item-divider color="light">
                  <h2>Rate This Course</h2>
                </ion-item-divider>
                <div>
                  <ion-item item-start>
                     
               <!-- 
             readOnly=false default value
             max=5 defalult statr value
             emptyStarIconName = star-outline default value
             halfStarIconname = star=half -default value
             starIconName= star -defaultName
             nullable = false -default name
             (ngModelChange) = ""onModelChange($event) -use it when you need to do something when user clicks on a star
             In case you onlyneed to change ngModel property,the property can be ommited
    
              -->
                  <rating [(ngModel)]="rate" 
                  readOnly="false" 
                  max="5"
                  emptyStarIconName="star-outline"
                  halfStarIconName="star-half"
                  starIconName="star" 
                  nullable="false" 
                  name="rate"
                  (ngModelChange)="onModelChange($event)"> <!--use it when you need to do something when user clicks on a star. in case you only need to change ngModel property, this property can be ommited.-->
          </rating>
          <div item-end>{{rate}}</div>
                  </ion-item>
            
                </div>
    
            <button ion-button block color="danger" (click)="byeNow()">Bye Now</button>

            <button ion-button block color="danger"  (click)="addToCart()">Add To Cart</button>

                 <!-- call one event from two different button and add validation if add towishlist click then 
                remove wishlist will disable and vice versa.
               -->
            <button ion-button block color="light" *ngIf="!add_wish" (click)="addToWishlist()">
              <ion-icon ios="ios-heart-outline" md="md-heart-outline">
                  </ion-icon>&nbsp;Add To Wishlist
              </button>
              <button ion-button block color="danger" *ngIf="add_wish" (click)="addToWishlist()">
               <ion-icon ios="ios-heart" md="md-heart">
              </ion-icon>
              &nbsp;Remove from Wishlist
              </button>  
              
           
</ion-content>
