page-submenu {
#close_menu_icon_button{
    float:right
}
#cart_button_Id{
    float: right
}
#min_id{
    color: blue
}
#pizza_segment_id{
    
}
#drinks_segment-id{
    
}
#slides_segment_id{
   
}

}
