page-cource {
#theme_dev_id{
   font-weight : bold;
   font-size:15px
}
#theme_dev_id2{
    font-weight : bold;
    font-size:10px
}
ul {
    padding: 0px;
  
    &.rating li {
      padding: 5px 0px !important;
      background: none;
      color: #ffb400;
  
      ion-icon {
        font-size: 20px;
      }
    }
  }
 
}
