<!--
  Generated template for the AboutusPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>aboutus</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h1 class="text-display-1">Welcome To Om Education!!!</h1>
<p class="textdisplay">We are dedicated to impart the best in this field and has coined our name within no time. This platform has been established considering the thing that people are doggedly engaged develop and learn new skills to get success and lead towards a successful life.</p>


<p class="textdisplay">Om Education is dedicated and believe that if one is loaded with more skills, it will definitely take you towards success. We are driven with the motto introducing you a great range of the high in demand online courses that do not only enhance your skill but play a significant role to get the desired job. </p>

 <u> <h3 class="text-display-1">What Makes Us High In Demand</h3></u>

<p class="textdisplay">Here, you come across a great category of learning including creative arts, design, entrepreneurship, lifestyle and technology and so on. Being a trusted brand, we are covering a wide array of skills. You may choose the right one according to your interest. The expert team is here to guide you. Since we believe in the required demands, the way of teaching has also been prepared according to that.</p> 

<u><h3 class="text-display-1">5 Reasons To Give A Thumb Up To Om Education   </h3></u>
 <div class="container-fluid">
  <p class="textdisplay">
    &#10004;    Dedicated Team With In-depth Knowledge <br>
    &#10004;	We Believe In Quality Education<br>
    &#10004;    A Wide Array Of Best And The Most Popular Online Courses<br>
    &#10004;	Best Curriculum Prepared By The Experts Of That Particular Field<br>
    &#10004;	We are passionate and Engaged To Make You Satisfied <br>
         </p>
    
 </div>
   
<p class="textdisplay">Being a dedicated brand, we feel proud to introduce a great platform making your dream. We believe that we are living in new era where you need to hold extra knowledge to get your dream come true. And we are here to make an ideal way heading towards your dreams. </p>
    
<div *ngFor="let data of users">
  {{data.id}}
  {{data.url}}
</div>
<button ion-button (click)= "displayFunction($event)"></button>
<div *ngFor="let datas of dataValue">
  {{datas.id}}
</div>
</ion-content>
